body{
    font-family:Arial;
}

h1.center{
    margin: auto;
    text-align: center;
}

/* used to have a div of centered elements*/
div.center{
    text-align: center;
}

/* Fill button styling */
button.fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    outline: 0;
    border: 1px solid black;
    display: block;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    }
  
    button.fill::after {
        content: "";
        background-color: #c0a0fc;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }
  
    button.fill:hover::after {
        top: 0px;
        left: 0px;
    }